<app-header></app-header>

<main>
  <div class="auth_form">
    <div class="auth_form_title">Вход</div>
    <div class="auth_form_group">
      <app-input placeholder="E-mail"></app-input>
      <app-input placeholder="Пароль"></app-input>
      <app-button value="Отправить"></app-button>
    </div>
  </div>

  <div class="banner_block">
    <div class="banner_block_inner">
      <div class="banner_block_title">Станьте партнером <br/>PMP ESTATE</div>
      <div class="banner_block_describe">
        <p>Наш сервис упрощает работу риелторам и позволяет зарабатывать дополнительно до 50 000 руб. на каждой сделке.</p>
        <app-button value="Отправить" type="common" class="display-flex width-50"></app-button>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
