<app-login-header></app-login-header>
<main>
  <div class="button-container">
    <app-button value="На главную" (click)="navigate('course/3')"></app-button>
    <app-button value="← Назад"></app-button>
    <app-button value="Вперед →"></app-button>
  </div>
  <div class="text-about-title">Text about</div>
  <div class="video"></div>
  <div class="text-about-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatem placeat corporis earum accusamus beatae architecto nulla corrupti quia quo!</div>

</main>
